.Menu{
   margin: 50px auto;
    background-color: rgb(74, 50, 39);
    color: rgb(245, 236, 220);
    width:500px;
    padding:35px;
    border-radius:10px;

}

.Menu p{
    font-size:20px;
    margin:2px;
}

.menuItem{
    margin-bottom:30px;
}

.itemName{
    color: rgb(156, 175, 136)
}